{
  "presets": [
    [
      "next/babel",
      {
        "class-properties": { "loose": true }
      }
    ],
    "@zeit/next-typescript/babel"
  ],
  "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]]
}
