.nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px 0;
}

.navItem {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    color: rgb(20, 21, 26);
    font-family: SFProText-Regular;
    font-size: 16px;
    margin: 0 24px;
    padding: 0 8px;
    &.active {
        border-bottom: 2px solid #000;
        color: #000;
    }
}
